@{
    ViewBag.Title = "CbcGenerator";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts {
    <script>
        $('#submit').click(Submit);

        function Submit() {
            $.blockUI({
                message: '<h1>請稍候...</h1>'
            });
            var file = $('#samplefile').get(0).files[0];
            if (!(typeof file === 'undefined')) {
                var data = new FormData();
                data.append("act", $('#act').val());
                data.append("year", $('#year').val());
                data.append("country", $('#country').val());
                data.append("times", $('#times').val());
                data.append("samplefile", file);
                $.ajax(
                    {
                        type: "POST",
                        url: this.action,
                        contentType: false,
                        processData: false,
                        dataType: "text",
                        data: data,
                        success: function (msg) {

                            try {
                                var ret = $.parseJSON(msg);
                                var url = '/Home/Download?id=' + ret.Id;
                                window.open(url, '_blank');
                            } catch (e) {
                                alert(e);
                                alert(msg);
                            }                                                                                    
                            $.unblockUI();
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(xhr.status);
                            alert(xhr.responseText);
                            alert(thrownError);
                            $.unblockUI();
                        }
                    }
                );
            } else {
                alert('請上傳檔案');
                $.unblockUI();
            }
        }
    </script>
}
<body>
    <h2>CbcGenerator</h2>
    <div class="center-block">
        <table class="table center-block">
            <tr>
                <td class="col-md-2">
                    <h4>功能：</h4>
                </td>
                <td class="col-md-2">
                    <select id="act" name="act" class="form-control">
                        <option value="1">驗證Xml檔案</option>
                        <option value="2">產生Xml檔案</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="col-md-2">
                    <h4>年份：</h4>
                </td>
                <td class="col-md-2">
                    <input type="text" id="year" name="year" placeholder="yyyy" class="form-control" />
                </td>
            </tr>
            <tr>
                <td class="col-md-2">
                    <h4>國別：</h4>
                </td>
                <td class="col-md-2">
                    <select id="country" name="country" class="form-control">
                        <option value="GB">英國</option>
                        <option value="HK">香港</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="col-md-2">
                    <h4>次數：</h4>
                </td>
                <td class="col-md-2">
                    <select id="times" name="times" class="form-control">
                        <option value="1">首次上傳</option>
                        <option value="2">修正上傳</option>
                        <option value="3">首次上傳(測試)</option>
                        <option value="4">修正上傳(測試)</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="col-md-2">
                    <h4>檔案上傳：</h4>
                </td>
                <td class="col-md-2">
                    <input type="file" class="form-inline" name="samplefile" id="samplefile" />
                </td>
            </tr>
            <tr>
                <td class="col-md-2"></td>
                <td class="col-md-2">
                    <input type="button" class="form-inline" id="submit" name="submit" value="提交" />
                </td>
            </tr>
        </table>
    </div>

</body>








